<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BitcoinBusinessEngineEntities" connectionString="metadata=res://*/BitcoinBusinessEngine.csdl|res://*/BitcoinBusinessEngine.ssdl|res://*/BitcoinBusinessEngine.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BitcoinBusinessEngine;user id=sa;password=123abc***;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>